.Login-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  .Login-header .h1{
    width: 650px;
    padding: 50px 50px;
    background-color: rgb(5, 195, 151);
   font-size: 55px;
   font-weight: bold;
  }
   
  .Login-header .form{
    width: 650px;
    height: 650px;
    background-color: #fff;
  }
  .Login-header .form .form-label{
    margin-right: 300px;
    margin-top: 50px;
    color:rgb(5, 195, 151) ;
  }
  .Login-header .form .form-control{
    border: none;
    border-bottom:4px solid  rgb(5, 195, 151) ;
    width: 500px;
     margin-left: 100px;
     box-shadow: none;
     font-size: 25px;
  }
  .Login-header .form button{
    margin-top: 50px;
    background-color: rgb(5, 195, 151);
    padding: 15px 0;
    width: 500px;
    font-size: 25px;
    font-weight: bold;
  }
  .Login-header .form .Error{
    color: crimson;
  }
  .Login-header .form .form-text{
    font-size: 15px;
    margin-right: 100px;
  }