.Login {
  background-color: #282c34;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.Login .container{
 width: 530px;
 height: 550px;
  padding: 0;
}

.Login .container .Error{
  color: crimson;
  font-size: medium;
}
 
.Login .container .form{
  display: flex;
  flex-direction: column;
  align-items: center;
   
  background-color: #fff;
}
.Login .container .form  .h1{
  padding: 20px 67px;
  background-color: rgb(5, 195, 151);
 font-size: 55px;
 font-weight: bold;
  
}
.Login .container .form .form-label{
  margin-top: 15px;
   margin-right: 250px;
   
  color:rgb(5, 195, 151) ;
}
.Login .container .form .form-control{
  border: none;
  border-bottom:4px solid  rgb(5, 195, 151) ;
   box-shadow: none;
   border-radius: 0px;
   padding: 10px 90px 10px 50px;
   font-size: 25px;
   
}
.Login .container .form input::placeholder{
  color: rgb(230, 229, 228);
}

.Login .container .form button{
  margin-top: 25px;
  margin-bottom: 25px;
  background-color: rgb(5, 195, 151);
  padding: 15px 90px;
  border-radius: 0;
  font-size: 25px;
  font-weight: bold;
}
@media  only screen and (max-width:994px){
  .Login .container .form{
    border-radius: 30px;
    overflow: hidden;
  }
}

@media  only screen and (max-width:1217px){
  .Login .container .form  .h1{
    padding: 20px 70px;
  }
  }
  @media  only screen and (max-width:1126px){
    .Login .container .form  .h1{
      padding: 20px 80px;
    }
  }
  @media  only screen and (max-width:885px){
    .Login .container .form  .h1{
      padding: 20px 90px;
    }
  }
  @media  only screen and (max-width:668px){
    .Login .container .form  .h1{
      padding: 20px 100px;
    }
  }
  
