.SignUp {
    background-color: #282c34;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  .SignUp .container{
   width: 550px;
    padding: 0;
  }
 
  .SignUp .container .Error{
    color: crimson;
    font-size: medium;
  }
   
  .SignUp .container .form{
    display: flex;
    flex-direction: column;
    align-items: center;
     
    background-color: #fff;
  }
  .SignUp .container .form  .h1{
    padding: 10px 70px;
    background-color: rgb(5, 195, 151);
   font-size: 55px;
   font-weight: bold;
    
  }
  .SignUp .container .form .form-label{
   margin-top: 5px;
    margin-right: 250px;
     
    color:rgb(5, 195, 151) ;
  }
  .SignUp .container .form .form-control{
    border: none;
    border-bottom:4px solid  rgb(5, 195, 151) ;
     box-shadow: none;
     border-radius: 0px;
     padding: 10px 90px 10px 50px;
     font-size: 25px;
  }
  .SignUp .container .form input::placeholder{
    color: rgb(230, 229, 228);
  }
  
  .SignUp .container .form button{
    margin-top: 10px;
    margin-bottom: 15px;
    background-color: rgb(5, 195, 151);
    padding: 10px 110px;
    color:#ffff ;
    font-size: 25px;
    font-weight: bold;
  }
  .SignUp .container .form .form-text{
    font-size: 15px;
     
  }
  .SignUp .container .form .Avatar{
     margin-right: 140px;
     color:rgb(5, 195, 151) ;
  }
  @media  only screen and (max-width:994px){
    .SignUp .container .form{
      border-radius: 30px;
      overflow: hidden;
    }
  }
  @media  only screen and (max-width:1217px){
    .SignUp .container .form  .h1{
      padding: 20px 70px;
    }
    }
    @media  only screen and (max-width:1126px){
      .SignUp .container .form  .h1{
        padding: 20px 80px;
      }
    }
    @media  only screen and (max-width:885px){
      .SignUp .container .form  .h1{
        padding: 20px 90px;
      }
    }
    @media  only screen and (max-width:668px){
      .SignUp .container .form  .h1{
        padding: 20px 100px;
      }
    }